body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gray;
}
.input-element-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.input-element {
    width: 500px;
    height: 400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 10px;
    background-color: rgb(189, 188, 188);
}
@media (max-width: 550px) {
    .input-element {
        width: 300px;
        height: 200px;
    }
    .atm-weigth-input {
        font-size: 20px;
        width: 120px;
    }
    .atm-number-input {
        font-size: 20px;
        width: 150px;
    }
    symbol-element {
        font-size: 50px;
    }
}.   
.atm-weigth {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}
::-webkit-input-placeholder {
    color: black;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
.atm-weigth-input {
    font-size: 50px;
    border: 0px;
    border-bottom: 1px solid black;
    width: 315px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
.symbol-element {
    font-size: 150px;
}
.atm-number {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}
.atm-number-input {
    font-size: 50px;
    border: 0px;
    border-bottom: 1px solid black;
    width: 380px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
input:focus {
    outline: none;
}
.button-start-content {
    width: fit-content;
    margin-top: 40px;
}
.button-start {
    font-size: 30px;
    border: 0px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px black;
    padding: 5px 35px 5px 35px;
    background-color: white;
    transition: 0.7s;
}
.button-start:hover {
    background-color: rgb(35, 185, 255);
    transition: 0.7s;
}
.system-content {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.visor-content {
    width: 100vw;
    height: 70vh;
    background-color: rgb(211, 211, 211);
}
.visor {
    width: 100%;
    height: fit-content;
    max-height: 70vh;
    display: flex;
    overflow-y: auto;
    justify-content: baseline;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons-action-content {
    width: 100vw;
    height: 30vh;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.button-action-div {
    margin: 10px;
    width: fit-content;
    height: fit-content;
}
.button-action {
    width: 150px;
    height: 50px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.element-visor {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.weigth-visor {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 1.5px;
}
.name-visor {
    font-size: 22px;
}
.number-visor {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 1.5px;
}
.signal-elements {
    font-size: 40px;
    height: 50px;
    margin: 10px 20px 10px 20px;
}