body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: gray;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-content {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: fit-content;
    text-align: center;
}
.title {
    margin: 0;
    padding: 0;
    font-size: 40px;
}
.buttons-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.button-content {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-action {
    padding: 5px 15px 5px 15px;
    width: 220px;
    border: 1px solid black;
    font-size: 25px;
    color: black;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.7s;
}
.fa-radiation {
    margin-right: 5px;
}
.button-action:hover {
    background-color: rgb(152, 205, 255);
    transform: scale(1.1);
    transition: 0.7s;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: end;
}
.version {
    background-color: white;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}