body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: gray;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-content {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: fit-content;
    text-align: center;
}
.title {
    margin: 0;
    padding: 0;
    font-size: 40px;
}
.buttons-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button-content {
    width: fit-content;
    margin: auto;
}
.button-action {
    padding: 5px 15px 5px 15px;
    width: 270px;
    border: 2px solid black;
    font-size: 30px;
    color: black;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.3s;
}
.fa-radiation {
    margin-right: 5px;
}
.fa-question {
    margin-right: 5px;
}
.button-action:hover {
    background-color: rgb(152, 205, 255);
    transform: scale(1.1);
    transition: 0.3s;
}
.config-content {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: gray;
}
.button-exit-config {
    border: 0px solid;
    border-radius: 30px;
    background-color: white;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 5px 7px;
}
.config-title {
    font-size: 30px;
}
.switch-config {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.switch-title {
    font-size: 25px;
    margin: 10px;
}
.switch-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.effects-sounds-input {
    display: none;
}
#effectsSounds:checked ~ label .effects-sounds-input-light::before{
    background-color: rgb(31, 192, 45);
    transform: translateX(50px);
    content: "ON";
    transition: 0.2s;
}
.effects-sounds-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.effects-sounds-input-body {
    display: flex;
    position: relative;
    height: 39px;
    width: 103px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.effects-sounds-input-light::before {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    height: 35px;
    width: 50px;
    border-radius: 30px;
    border: 3px solid black;
    background-color: red;
    left: 0;
    content: "OFF";
    transition: 0.2s;
}
.colors-input {
    display: none;
}
#colors:checked ~ label .colors-input-light::before{
    background-color: rgb(31, 192, 45);
    transform: translateX(50px);
    content: "ON";
    transition: 0.2s;
}
.colors-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.colors-input-body {
    display: flex;
    position: relative;
    height: 39px;
    width: 103px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.colors-input-light::before {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    height: 35px;
    width: 50px;
    border-radius: 30px;
    border: 3px solid black;
    background-color: red;
    left: 0;
    content: "OFF";
    transition: 0.2s;
}
hr {
    border: 1px solid black;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: end;
}
.version {
    background-color: white;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}